<div class="header">
	<h1>Editar Platillo <i class="fa fa-pencil"></i></h1>
</div>
<div class="content stable">
	<form action="{{urlFor('modal_menu')}}" method="post">
		<table class="ui single line table">
			<thead>
				<tr>
					<th>Nombre del Platillo</th>
					<th>Precio</th>
					<th>Aceptar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<input type="hidden" name="id" value="{{all.id}}">
					<input type="hidden" name="type" value="procesar">
					<td><div class="ui input"><input type="text" name="nombre" value="{{all.platillo}}"></div></td>
					<td><div class="ui input"><input type="text" name="precio" value="{{all.precio}}"></div></td>
					<td><button type="submit" class="ui green button">Guardar cambios <i class="fa fa-check"></i></button></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>