<div class="header">
	<h1>Agregar platillo <i class="fa fa-plus"></i></h1>
</div>
<div class="content stable">
<form action="{{urlFor('registrar-menu')}}" method="post">
	<table class="ui single line table">
		<thead>
			<tr>
			<th>Nombre del Platillo</th>
			<th>Precio</th>
			<th>Aceptar</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><div class="ui input"><input type="text" name="nombre"></div></td>
				<td><div class="ui input"><input type="text" name="precio"></div></td>
				<td><button type="submit" class="ui green button">Registrar<i class="fa fa-check"></i></button></td>
			</tr>
		</tbody>
	</table>
</form>
</div>