<table class="ui single line table">
	<thead>
	<tr>
		<th>Número</th>
		<th>Estado</th>
		<th>deuda</th>
		<th>Acción</th>
	</tr>
</thead>
<tbody>
	{% for it in all %}
    <tr>
    	<td>{{it.numero}}</td>
    	<td>{% if it.status == 't' %}<p class="verde">Disponible</p>{% else %}<p class="rojo">Ocupado</p>{% endif %}</td>
    	<td>${{it.deuda}}</td>
    	<td><button data-value="{{it.id}}" class="ui red button del"><i class="fa fa-times"> Eliminar</i></button></td>
    </tr>
    <button class="circular ui icon button massive green add" id="carrito" data-tooltip="Agregar mesa" data-position="top right"> <i class="fa fa-plus"></i></button>
	{% endfor %}
</tbody>
</table>
<style type="text/css">
	.verde{
		color: green;
	}
	.rojo{
		color: red;
	}	
	#carrito{
		position: fixed;
		bottom: 140px;
		right: 20px;
	}
</style>
<script type="text/javascript">
$('.del').click(function(){
	 var idmesa = $(this).data('value');
	 alert(idmesa);
	$.post("{{urlFor('del-mesa')}}",{idm: idmesa},function(data){
		$('.segment').html(data);
	});
});

$('.add').click(function(){
	$.post("{{urlFor('add-mesa')}}",function(data){
		$('.segment').html(data);
	});
})
</script>