{#-----------------------------EL MODAL------------------------#}
<div class="ui longer modal" id="elmodal"></div>
{#-----------------------------EL MODAL------------------------#}
<table class="ui single line table">
	<thead>
		<tr>
			<th>Platilo</th>
			<th>Precio</th>
			<th>Existencia</th>
			<th>Acción</th>
		</tr>
	</thead>
	<tbody>
		{% for it in all %}
		<tr>
		    <td>{{it.platillo}}</td>
		    <td>${{it.precio}}</td>
		    <td>{% if it.existencia == 't' %}<p class="verde">Disponible</p>{% else %}<p class="rojo">Agotado</p>{% endif %}</td>
		    <td>
		    <button data-value="{{it.id}}" class="ui red button eliminar"> <i class="fa fa-times"></i> Eliminar</button>
		    <button data-value={{it.id}} class="ui {% if it.existencia == 't' %}orange dh{% else %}green hab{% endif %} button">{% if it.existencia == 't' %}Deshabilitar {% else %} Habilitar{% endif %}</button>
			<button class="ui teal button editarb" data-value="{{it.id}}" ><i class="fa fa-pencil"> Editar</i></button>
		    </td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<button class="circular ui icon button massive green" id="edit-menu" data-tooltip="Agregar" data-position="top right"> <i class="fa fa-plus"></i></button>
{% block css %}
<style type="text/css">
	#edit-menu{
		position: fixed;
		bottom: 140px;
		right: 20px;
	}

	.verde{
		color: green;
	}
	.rojo{
		color: red;
	}	
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('.ui .dh').click(function(){
	var idval = $(this).data('value');
	$.post("{{urlFor('deshabilitar-menu')}}",{id: idval},function(data){
		$('.segment').html(data);
	});
});

$('.ui .hab').click(function(){
	var idva = $(this).data('value');
	$.post("{{urlFor('habilitar-menu')}}",{id: idva},function(data){
		$('.segment').html(data);
	});
});

$('.ui .eliminar').click(function(){
  var ider = $(this).data('value');
  swal({
  title: "Advertencia",
  text: "Está apunto de borrar este platillo del menú",
  type: "warning",
  showCancelButton: true,
  cancelButtonText:"Cancelar",
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "si, borrarlo!",
  closeOnConfirm: false
},
function(){
  $.post("{{urlFor('eliminar-menu')}}",{id: ider},function(data){
  	$('.segment').html(data);
  	swal("Eliminado!", "El platillo fué eliminado del menú.", "success");
  });
 });
});

$('#edit-menu').click(function(){
	$.post("{{urlFor('edit-menu')}}",function(data){
		$('#elmodal').html(data);
		$('#elmodal').modal('show');
		$('#elmodal').addClass('scrolling');
	});
});

$('.editarb').click(function(){
	var idp = $(this).data('value');
	$.post("{{urlFor('modal_menu')}}",{type: "modal", id:idp}, function(data){
		$('#elmodal').html(data);
		$('#elmodal').modal('show');
		$('#elmodal').addClass('scrolling');
	});
});
</script>
{% endblock %}