<div class="ui large modal" id="modal"></div>
<table class="ui single line table">
	<thead>
		<tr>
			<th>Fecha</th>
			<th>ingreso</th>
			<th>Descripción</th>
		</tr>
	</thead>
	<tbody>
	{% for it in all %}
		<tr>
			<td>{{it.fecha}}</td>
			<td>${{it.ingreso}}</td>
			<td><button data-fecha="{{it.fecha}}" class="ui teal button view" data-tooltip="Ver detalles"><i class="fa fa-eye"></i></button></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
$('.view').click(function(){
	var fecha = $(this).data('fecha');
	$.post("{{urlFor('load-ingresos')}}",{fecha: fecha},function(data){
		$('#modal').html(data);
		$('#modal').modal('show');
		$('#modal').addClass('scrolling');
	});
});
</script>