<div class="header">
	<h1> Ver descripción <i class="fa fa-eye"></i></h1>
</div>
<div class="content">
	<table class="ui single line table">
		<thead>
			<tr>
				<th>Platillo</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>