<div class="header">
	<h1>Carrito<i class="fa fa-shopping-cart"></i></h1>
</div>
<div class="content">
	<div class="ten wide column">
			<div class="ui segment">
				<table class="ui single line table">
				  <thead>
				    <tr>
				      <th>Platilo</th>
				      <th>Precio</th>
				      <th>Existencia</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody>
					  {% for int in all %}  
					    <tr>
					      <td>{{int.platillo}}</td>
					      <td>${{int.precio}}</td>
					      <td>{% if int.existencia == 't' %}<p class="verde">Disponible</p>{% else %}<p class="rojo">No disponible</p>{% endif %}</td>
					      <td><a class="ui red button eliminar{% if int.existencia != 't' %}disabled{% endif %}" data-value="{{int.id}}"><i class="fa fa-times"></i> eliminar</a></td>
					    </tr>
					  {% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
	<form method="POST" action="{{ urlFor('ordenar-cosina') }}" class="ui form two column grid container">
	  <div class="row">
	  	<div class="column">
		  <div class="field">
		    <label>Detalles</label>
		    <textarea rows="2" name="detalles"></textarea>
		  </div>
	  	</div>
	  	<div class="column">
		  <select class="dropdown" name="mesa">
		  		<option value="" class="disabled" default>Porfavor elja una</option>
		  		{% for item in mesas %}
				<option value="{{item.id}}">mesa {{item.numero}}</option>
		  		{% endfor %}
		  </select>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="column"></div>
	  	<div class="column">
	  		<button type="submit" class="ui button green enviar {% if all is empty %}disabled{% endif %}">Enviar <i class="fa fa-arrow-right"></i></button>
	  	</div>
	  </div>
	</form>	
</div>
<script type="text/javascript">
	$('.eliminar').click(function(){
		var id = $(this).data('value');
		$.post("{{urlFor('pedir')}}",{act:'borrar',idp:id},function(data){
			$('.ui .modal').html(data);
		});
	});
	$('select.dropdown').dropdown();
</script>
<style type="text/css">
</style>