<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{asset('semantic.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('sweetalert.css')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('font-awesome/css/font-awesome.css')}}">
	<script src={{asset('sweetalert.js')}} type="text/javascript"></script>
	<script src={{asset('jquery-3.js')}}></script>
	<script src={{asset('semantic.js')}}></script>

</head>
<body>
{% block content %}
{% endblock %}
{% block css %}
{% endblock %}
{% block js %}
{% endblock %}
</body>
</html>