{% extends 'base.twig' %}
{% block content %}
<br><br><br><br>
<div class="ui container grid">
	<form method="post" class="ui form segment col-md-2" action="{{urlFor('login')}}">
		<div class="field">
		<label>usuario</label>
			<select class="dropdown" name="usuario">
				<option value="" class="disabled" default>Porfavor elja un usuario</option>
				<option value="1">caja</option>
				<option value="2">cocina</option>
				<option value="3">Administración</option>
			</select><br>
		</div>
		<div class="field">
			<label>contraseña</label>
			<input type="password" name="clave"/>
		</div>
		<button class="ui orange button">Entrar</button>
		<a class="ui inverted orange button ini">Editar clave</a>
	</form>
</div>
{#---------- Formulario Editar--------------------#}
<div class="ui popup container">
	<form method="post" class="ui form" action="{{urlFor('edit-user')}}">
		<input type="hidden" name="usr" id="usrhdn">
		<div class="field">
			contraseña actual<i class="fa fa-lock" aria-hidden="true"></i>
			<input type="password" name="curclave">
		</div>
		<div class="field">
			nueva contraseña<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
			<input type="password" name="newclave">
		</div>
		<div class="field">
			repita la contraseña<i class="fa fa-reply" aria-hidden="true"></i>
			<input type="password" name="newclavex2">
		</div>
		<div class="field">
		<button type="submit" class="ui button succes">Aceptar</button>
		</div>
	</form>
</div>
{#--------------FINAL---------------------------------------#}
{% endblock %}
{% block css %}
<style type="text/css">
/*
*/
body{
	background-image: url("{{asset('comida.jpg')}}");
}
 form.ui.form.segment.col-md-2 {
	margin-left: 40%;
	margin-top: 15%;
}
.ui.button{
	margin-left: 20px;
	margin-top: 10px;
}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
$('#usrhdn').val($('select').val());
$('select.dropdown').dropdown();
$('.ini').popup({
	on:'click',
	popup:'.popup'
});
$('select').change(function(){
	$('#usrhdn').val($(this).val());
});
{% if app.flash['type'] is defined%}
	swal({   
    title: "{{app.flash.type}}",   
    text: "{{app.flash.message}}",   
    type: "{{app.flash.type}}",   
    confirmButtonText: "Cerrar" 
      });
{% endif %}
</script>
{% endblock %}