{% extends 'base.twig' %}
{% block content %}
<br><br><br><br><br>
<div class="ui container grid">
	<div class="four wide column">
		<div class="ui fixed secondary vertical pointing menu">
			<a class="item active" data-value="home">
			Home
			</a>
			<a class="item" data-value="inventario">
			Mesas
			</a>
			<a class="item" data-value="menu">
			Menu
			</a>
			<a class="item" data-value="ventas">
			Ventas
			</a>
		</div>
	</div>
	<div class="twelve wide streched column contenidito">
		<div class="ui segment"></div>
	</div>
</div>
	
<form method="GET" action="{{urlFor('logout')}}">
<button class="circular ui icon button massive blue" id="add" data-tooltip="Salir" data-position="top right"> <i class="fa fa-sign-out" aria-hidden="true" type="submit"></i>
</form>
{% endblock %}
{% block css %}
<style type="text/css">
	#add{
	position: fixed;
	bottom: 20px;
	right: 20px;
}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
$.post("{{urlFor('admin-view')}}",{val: 'home'}, function(data){
	$('.segment').html(data);
});
$('.item').click(function(){
	$('.active').removeClass('active');
	$(this).addClass('active');
	$.post("{{urlFor('admin-view')}}",{val: $(this).data('value')}, function(data){
		$('.segment').html(data);
	});
});
</script>
{% endblock %}