{% extends 'base.twig' %}
{% block content %}
<div class="ui floating green message hidden" id="carrmes">
  <p>Añadido al carrito</p>
</div>
<br><br><br><br>
{#-----------------------------EL MODAL------------------------#}
<div class="ui modal"></div>
{#-----------------------CARD DE USUARIO-----------------------#}
<div class="ui three column grid container">
	<div class=" row">
		<div class="column">
			<div class="ui card">
			  <div class="image">
			    <img src="{{asset('sirenita.jpg')}}">
			  </div>
			  <div class="content">
			    <label class="header">La sirenita</label>
			    <div class="description">
			      Restaurante
			    </div>
			  </div>
			</div>
		</div>
{#-----------------------FIN CARD DE USUARIO-----------------------#}
		<div class="ten wide column">
			<div class="ui segment">
				<h1>Menú</h1>
				<table class="ui single line table">
				  <thead>
				    <tr>
				      <th>Platilo</th>
				      <th>Precio</th>
				      <th>Existencia</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for item in menu %}  
				    <tr>
				      <td>{{item.platillo}}</td>
				      <td>${{item.precio}}</td>
				      <td>{% if item.existencia == 't' %}<p class="verde">Disponible</p>{% else %}<p class="rojo">No disponible</p>{% endif %}</td>
				      <td><a class="ui green button carrito{% if item.existencia != 't' %}disabled{% endif %}" data-value="{{item.id}}"><i class="fa fa-plus"></i> carrito</a></td>
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="five wide column"></div>
		<div class="ten wide column mes">
			<div class="ui segment">
				<h1>Mesas</h1>
				<table class="ui single line table">
				  <thead>
				    <tr>
				      <th>No.</th>
				      <th>Deuda</th>
				      <th>Estado</th>
				      <th>Acción</th>
				    </tr>
				  </thead>
				  <tbody>
				  {% for it in mesas %}  
				  <form method="post" action="{{urlFor('cobrar_mesa')}}">
				    <input value="{{it.id}}" type="hidden" name="id_mesa">
				    <tr>
				      <td>{{it.numero}}</td>
				      <td>${{it.deuda}}</td>
				      <td>{% if it.status == 't' %}<p class="verde">Disponible</p>{% else %}<p class="rojo">Ocupado</p>{% endif %}</td>
				      <td><button type="submit" class="ui green button cobro {% if it.status == 't' %}disabled{% endif %}" data-value="{{it.id}}"><i class="fa fa-money"></i> cobrar</button></td>
				    </tr>
				  </form>
				  {% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<form method="GET" action="{{urlFor('logout')}}">
<button class="circular ui icon button massive blue" id="add" data-tooltip="Salir" data-position="top right"> <i class="fa fa-sign-out" aria-hidden="true" type="submit"></i>
</button>
</form>
<button class="circular ui icon button massive yellow" id="carrito" data-tooltip="carrito" data-position="top right"> <i class="fa fa-shopping-cart"></i></button>
{% endblock %}
{% block css %}
<style type="text/css">
	.mes{
		margin-left: 21px;
	}
	body{
		background-image: url("{{asset('playa.jpg')}}");
		background-attachment:fixed;
	}
	#add{
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
	#carrito{
		position: fixed;
		bottom: 140px;
		right: 20px;
	}
	.verde{
		color: green;
	}
	.rojo{
		color: red;
	}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$('#carrito').click(function(){
		$.post("{{urlFor('pedir')}}",{act:'mostrar'},function(data){
			$('.ui.modal').html(data);
		});
		$('.ui.modal').modal('show');
		$('.ui.modal').addClass('scrolling');
	});
	$('.carrito').click(function(){
		$.post("{{urlFor('pedir')}}",{idp:$(this).data('value'), act:'pedir'},function(){	
			$('#carrmes').show();	
		});
	});

	$('#carrmes').click(function(){
		$(this).transition('fade');
	});
	
	{% if app.flash['type'] is defined%}
	swal({   
    title: "{{app.flash.type}}",   
    text: "{{app.flash.message}}",   
    type: "{{app.flash.type}}",   
    confirmButtonText: "Cerrar" 
      });
{% endif %}
</script>
{% endblock %}