<br><br><br><br>
{% for int in mesas %}
<div class="two column row">
	<div class="ui segment">
		<h4 class="ui header">mesa {{int.numero}}</h4>
		<table class="ui single line table">
		  <thead>
		    <tr>
		      <th>Pedido</th>
		    </tr>
		  </thead>
		  <tbody>
			  {% for ped in int.pedidos %}  
			    <tr>
			      <td>{{ped}}</td>
			    </tr>
			  {% endfor %}
		  </tbody>
		</table>
		<p>Notas: {{int.detalles}}</p>
	</div>
	<div class="ui divider"></div>
</div>
<style type="text/css">
body{
	background-image: url({{asset('cocina-flat.jpg')}}); 
	background-attachment:fixed;
}
</style>
{% endfor %}	
