{% extends 'base.twig' %}
{% block content %}
<div class="ui container">
</div>
<form method="GET" action="{{urlFor('logout')}}">
<button class="circular ui icon button massive blue" id="add" data-tooltip="Salir" data-position="top right"> <i class="fa fa-sign-out" aria-hidden="true" type="submit"></i>
</form>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	var refrescar = function refrescar(){
		$.post("{{urlFor('refrescar-cocina')}}", function(data){
			$('.container').html(data);
		});
	}
	setInterval(refrescar, 100);
});
</script>
{% endblock %}
{% block css %}
<style type="text/css">
	#add{
		position: fixed;
		bottom: 20px;
		right: 20px;
	}
</style>
{% endblock %}